<header class="app-header mb-2">
  <mat-toolbar class="bg-gray-200">
    <button
      routerLink="/client"
      class="inline-flex items-center rounded-2xl bg-gray-200 px-5 py-2 text-sm text-gray-900 shadow-sm hover:font-semibold hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100"
    >
      <mat-icon class="mr-2">contacts_product</mat-icon>
      Clientes
    </button>
    <button
      routerLink="/product"
      class="inline-flex items-center rounded-2xl bg-gray-200 px-5 py-2 text-sm text-gray-900 shadow-sm hover:font-semibold hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100"
    >
      <mat-icon class="mr-2">bolt</mat-icon>
      Produtos
    </button>
    <button

      routerLink="/order"
      class="inline-flex items-center rounded-2xl bg-gray-200 px-5 py-2 text-sm text-gray-900 shadow-sm hover:font-semibold hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100"
    >
      <mat-icon class="mr-2">add</mat-icon>
      Pedidos
    </button>

    <span class="example-spacer"></span>
  </mat-toolbar>
</header>
